# Carpetas de compilación de PyInstaller (Lo que te pidió la tarea)
build/
dist/
*.spec

# Archivos temporales de Python (Muy recomendado)
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (Si usas uno)
venv/
env/
